[submodule "themes/DoIt"]
	path = themes/DoIt
	url = https://github.com/xiaobinqt/DoIt

[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/xiaobinqt/hugo-book
[submodule "themes/do"]
	path = themes/do
	url = https://github.com/HEIGE-PCloud/DoIt.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
