// ==============================
// Custom style
// 自定义样式
// ==============================

.custom-icon {
  color: #2d96bd;
  font-size: 1.08rem;
}

.wb-wechat {
  img {
    width: 30%;
  }
}


html {
  line-height: 1.7rem;
}

.page {
  max-width: 940px;
  width: 100%;
}

#toc-auto {
  left: 1460px !important;
}